<div class="row">
  {{#link-to 'book' book.id}}
  <img src="{{book.image}}" alt="Book Cover" />
  {{/link-to}}
</div>
<div class="book-info">
  <h2>{{book.name}}</h2>
  <h5>Rating: {{book.reviews.rating}}</h5>
  <h5>{{book.author}} | {{book.category}}</h5>
</div>
